@import 'fonts.css';

body {
  background: #f76517;
  color: #fff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 PrepHoopsAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
}
